.Form {
  color: #121212;
}

.Form-Title {
  font-size: 5rem;
  color: #ffffff;
  justify-self: flex-start;
}

.Form-Inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
