.Input-Logo {
  color: #121212;
  margin-left: 2rem;
  justify-self: flex-start;
  
}

.Input-Password-Btn {
  color: #121212;
  margin: 0 2rem;
  cursor: pointer;
}

.Input-Password-Btn.shown {
  color: #6f8ab7;
}

.Input {
  border-radius: 1rem;
  outline: none;
  border: none;
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: none;
  /* max-width: 90%; */
  background-color: #cae5ff;
  box-sizing: border-box;
  text-align: left;
  width: inherit;
}
