html,
body,
#root {
  overflow: hidden;
}
.NotFound {
  display: flex;
  text-align: center;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: flex-start;
}

.NotFound-Content {
  color: #121212;
  font-size: 5rem;
  font-weight: bold;
}

.secondary {
  color: #ffffff;
}
