@use '../base/colors.scss' as *;
@use '../base/typography.scss' as *;

.Login {
  display: flex;
  width: inherit;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50vw;
  height: inherit;
  border-radius: 1rem;
  box-shadow: 0 0 5px $background-color;
  background-color: $gray-500;
  // margin: 5rem 0;
}

.Login-Footer-Link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 900;
  font-weight: bold;
  margin: 1rem 1rem;
  box-shadow: 0 0 3px $background-color;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: all 500ms ease-out;
}

.Login-Footer-Link:hover {
  color: $background-color;
}

@media only screen and (max-width: 600px) {
  .Login-Form {
    width: inherit;
  }
}
