@use '../base/colors.scss' as *;
@use '../base/typography.scss' as *;

.Register {
  display: flex;
  width: inherit;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Register-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50vw;
  height: inherit;
  border-radius: 1rem;
  box-shadow: 0 0 5px $gray-700;
  background-color: $gray-500;
  // margin: 5rem 5rem;
}

.Register-Footer-Link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 900;
  font-weight: bold;
  margin: 1rem 1rem;
  box-shadow: 0 0 3px $gray-900;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
}

.Register-Footer-Link:hover {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .Register-Form {
    width: inherit;
  }
}
