@use '../base/colors.scss' as *;
@use '../base/typography.scss' as *;


.Form {
  color: $gray-800;
}

.Form-Title {
  font-size: 5rem;
  color: $gray-900;
  justify-self: flex-start;
}

.Form-Inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $gray-900
}
